{{#section 'head'}}
    <link rel="stylesheet" href="../style.css">
{{/section}}
<h1>Scraping the Onion</h1>
<div id="wrapper">
   
  <div id="articles"></div>
  <pre>{{}}</pre>
  <form id="notes" {{}}></form>
  <pre>{{}}</pre>
  <div id="images"></div>
  <pre>{{}}</pre>
</div>